{
    "adminChannel" : "music",
    "standardChannel" : "music",
    "sonosIP" : "IP_TO_SONOS",
    "token" : "SLACK:TOKEN",
    "market" : "US",
    "maxVolume" : 75,
    "blacklist" : "@justin.bieber, @one.direction",
    "apiKey": ""
}
